# CS422 Homework 3
### Christopher W. Hong

## Recitation Exercises

### Chapter 5

#### Ex.2

(a)

s(e) = 8/10

s(b,d) = 2/10

s(b,d,e) = 2/10

(b)

c({b,d} -> {e}) = $\frac{\sigma(\{b,d\}\cup\{e\})}{\sigma(\{e\})}$ = 2/2 = 1

c({e} -> {b,d}) = $\frac{\sigma(\{e\}\cup\{b,d\})}{\sigma(\{e\})}$ = 2/8 = 1/4

The confidence is not a symmetric measure.

(c)

s(e) = 4/5

s(b,d) = 5/5 = 1

s(b,d,e) = 4/5

(d)

c({b,d} -> {e}) = 4/5

c({e} -> {b,d}) = 4/4 = 1

(e)

There are no evidential relationships between $s_{1}$ and $s_{2}$ or $c_{1}$ and $c_{2}$.

#### Ex.6

In [8]:
from scipy.special import comb

(a)

In [1]:
3**6 - 2**(6+1) + 1

602

(b)

4

(c)

In [12]:
comb(6, 3, exact=True)

20

(d)

{Bread, Butter}

(e)

{Bread, Butter}

#### Ex.8

(a)

{1,2,3,4}, {1,2,3,5}, {1,2,4,5}, {1,3,4,5}, {2,3,4,5}

(b)

{1,2,3,4}, {1,2,3,5}, {1,2,4,5}, {2,3,4,5}

(c)

{1,2,3,4}

#### Ex.9

(a)

![](9a.jpg)

(b)

Percentage of frequent itemsets = 16/32 (including the null set).

(c)

Pruning ratio of the Apriori algorithm = 11/32.

(d)

The false alarm rate = 5/32.

#### Ex.12

![](12.jpg)

#### Ex.13

(a)

{b} -> {c}

|   | c | $\bar{c}$ |             
|---|---|-----------|             
| b | 3 | 4 |
|$\bar{b}$| 2 | 1 |

{a} -> {d}

|   | d | $\bar{d}$ |             
|---|---|-----------|             
| a | 4 | 1 |
|$\bar{a}$| 5 | 0 |

{b} -> {d}

|   | d | $\bar{d}$ |             
|---|---|-----------|             
| b | 6 | 1 |
|$\bar{b}$| 3 | 0 |

{e} -> {c}

|   | c | $\bar{c}$ |             
|---|---|-----------|             
| e | 2 | 4 |
|$\bar{e}$| 3 | 1 |

{c} -> {a}

|   | a | $\bar{a}$ |             
|---|---|-----------|             
| c | 2 | 3 |
|$\bar{c}$| 3 | 2 |

(b)

i. Support

| Rules | Support | Rank |
|-------|---------|------|
| b -> d | 0.6 | 1 |
| a -> d | 0.4 | 2 |
| b -> c | 0.3 | 3 |
| e -> c | 0.2 | 4 |
| c -> a | 0.2 | 4 |

ii. Confidence

| Rules | Confidence | Rank |
|-------|------------|------|
| b -> d | 6/7 | 1 |
| a -> d | 4/5 | 2 |
| b -> c | 3/7 | 3 |
| c -> a | 2/5 | 4 |
| e -> c | 2/6 | 5 |

iii. Interest

| Rules | Interest | Rank |
|-------|----------|------|
| b -> d | 0.9523 | 1 |
| a -> d | 0.8889 | 2 |
| b -> c | 0.8571 | 3 |
| c -> a | 0.8 | 4 |
| e -> c | 0.6667 | 5 |

iv. IS

| Rules | IS | Rank |
|-------|----------|------|
| b -> d | 0.7559 | 1 |
| a -> d | 0.5963 | 2 |
| b -> c | 0.5071 | 3 |
| c -> a | 0.4 | 4 |
| e -> c | 0.3651 | 5 |

v. Klosgen

| Rules | Klosgen | Rank |
|-------|----------|------|
| b -> d | -0.0258 | 1 |
| a -> d | -0.0351 | 2 |
| b -> c | -0.0391 | 3 |
| c -> a | -0.0447 | 4 |
| e -> c | -0.0745 | 5 |

vi. Odds ratio

| Rules | Odds ratio | Rank |
|-------|----------|------|
| c -> a | 0.4444 | 1 |
| b -> c | 0.3750 | 2 |
| e -> c | 0.1667 | 3 |
| b -> d | 0 | 4 |
| a -> d | 0 | 4 |

#### Ex.20

(a)

s(A) = 0.1

s(B) = 0.1

s(A,B) = 0.09

I(A,B) $\approx$ 9

$\phi$(A,B) $\approx$ 0.89

c(A -> B) = 0.9

c(B -> A) = 0.9

(b)

s(A) = 0.9

s(B) = 0.9

s(A,B) = 0.89

I(A,B) $\approx$ 1.1

$\phi$(A,B) $\approx$ 0.89

c(A -> B) $\approx$ 0.99

c(B -> A) $\approx$ 0.99

(c)

Support, interest and confidence **do not remain invariant** under the inversion operation. On the other hand, correlation coefficient is **invariant** to the inversin property.

## Practicum Problems

### Problem 1

In [47]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

#### Load the dataset

In [48]:
df_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx'

df = pd.read_excel(df_url)

In [49]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [50]:
df.shape

(541909, 8)

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

#### Data Clearning

In [53]:
# Stripping spaces in the description column
df['Description'] = df['Description'].str.strip()

# Dropping rows that doesn't contain involice numbers
df.dropna(axis = 0, subset=['InvoiceNo'], inplace = True)

# Remove credit transactions
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df['InvoiceNo'].str.contains('C')]

In [54]:
df.shape

(532621, 8)

#### Extract all transactions for France

In [55]:
france = df[df['Country']=='France']

In [56]:
france.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
30,536370,21883,STARS GIFT TAPE,24,2010-12-01 08:45:00,0.65,12583.0,France

In [57]:
france.shape

(8408, 8)

#### Preprocess the data

In [58]:
items = france[['InvoiceNo', 'Description']]

In [59]:
items.head()

   InvoiceNo                      Description
26    536370        ALARM CLOCK BAKELIKE PINK
27    536370         ALARM CLOCK BAKELIKE RED
28    536370       ALARM CLOCK BAKELIKE GREEN
29    536370  PANDA AND BUNNIES STICKER SHEET
30    536370                  STARS GIFT TAPE

In [61]:
# Each transaction is defined by InvoiceNo
transactions= items.groupby(['InvoiceNo'])['Description'].apply(list).values.tolist()

In [62]:
transactions[:3]

[['ALARM CLOCK BAKELIKE PINK',
  'ALARM CLOCK BAKELIKE RED',
  'ALARM CLOCK BAKELIKE GREEN',
  'PANDA AND BUNNIES STICKER SHEET',
  'STARS GIFT TAPE',
  'INFLATABLE POLITICAL GLOBE',
  'VINTAGE HEADS AND TAILS CARD GAME',
  'SET/2 RED RETROSPOT TEA TOWELS',
  'ROUND SNACK BOXES SET OF4 WOODLAND',
  'SPACEBOY LUNCH BOX',
  'LUNCH BOX I LOVE LONDON',
  'CIRCUS PARADE LUNCH BOX',
  'CHARLOTTE BAG DOLLY GIRL DESIGN',
  'RED TOADSTOOL LED NIGHT LIGHT',
  'SET 2 TEA TOWELS I LOVE LONDON',
  'VINTAGE SEASIDE JIGSAW PUZZLES',
  'MINI JIGSAW CIRCUS PARADE',
  'MINI JIGSAW SPACEBOY',
  'MINI PAINT SET VINTAGE',
  'POSTAGE'],
 ['PICTURE DOMINOES',
  'MINI JIGSAW SPACEBOY',
  'MINI JIGSAW DOLLY GIRL',
  'CHARLOTTE BAG DOLLY GIRL DESIGN',
  'VINTAGE HEADS AND TAILS CARD GAME',
  'POLKADOT RAIN HAT',
  'POSTAGE'],
 ['EDWARDIAN PARASOL BLACK',
  'EDWARDIAN PARASOL PINK',
  'EDWARDIAN PARASOL RED',
  'RED  HARMONICA IN BOX',
  'LUNCH BOX I LOVE LONDON',
  'LUNCH BOX WITH CUTLERY RETROSPOT',
  'SET OF SALT AND PEPPER TOADSTOOLS',
  'TEA PARTY BIRTHDAY CARD',
  'ASSORTED COLOUR MINI CASES',
  'RED RETROSPOT MINI CASES',
  'BIG DOUGHNUT FRIDGE MAGNETS',
  "POPPY'S PLAYHOUSE KITCHEN",
  'RIBBON REEL POLKADOTS',
  'LUNCH BAG RED RETROSPOT',
  'LUNCH BAG WOODLAND',
  'POSTAGE']]

In [63]:
# Convert the transaction data into a binary format
te = TransactionEncoder()
te_ary = te.fit(transactions).transform(transactions)
binary_transactions = pd.DataFrame(te_ary, columns=te.columns_)

In [64]:
binary_transactions.head()

,10 COLOUR SPACEBOY PEN,12 COLOURED PARTY BALLOONS,12 EGG HOUSE PAINTED WOOD,12 MESSAGE CARDS WITH ENVELOPES,12 PENCIL SMALL TUBE WOODLAND,12 PENCILS SMALL TUBE RED RETROSPOT,12 PENCILS SMALL TUBE SKULL,12 PENCILS TALL TUBE POSY,12 PENCILS TALL TUBE RED RETROSPOT,12 PENCILS TALL TUBE WOODLAND,...,WRAP VINTAGE PETALS DESIGN,YELLOW COAT RACK PARIS FASHION,YELLOW GIANT GARDEN THERMOMETER,YELLOW SHARK HELICOPTER,ZINC STAR T-LIGHT HOLDER,ZINC FOLKART SLEIGH BELLS,ZINC HERB GARDEN CONTAINER,ZINC METAL HEART DECORATION,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS SMALL
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [65]:
# Calculate the frequency table
transaction_size = items.groupby(['InvoiceNo']).size()
freq_table = pd.Series.sort_index(pd.Series.value_counts(transaction_size))
print('Mininum # items per transaction:', np.min(freq_table))
print('Medium # items per transaction:', np.median(freq_table))
print('Maximum # items per transaction:', np.max(freq_table))

Mininum # items per transaction: 1
Medium # items per transaction: 4.0
Maximum # items per transaction: 21

#### Generate frequent itemsets

In [66]:
frequent_itemsets = apriori(binary_transactions, min_support=0.05, use_colnames=True)

In [67]:
frequent_itemsets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   support   195 non-null    float64
 1   itemsets  195 non-null    object
dtypes: float64(1), object(1)
memory usage: 3.2+ KB

In [68]:
frequent_itemsets.sort_values(by=['support'], ascending=False).iloc[:10,:]

      support                                  itemsets
46   0.765306                                 (POSTAGE)
47   0.188776                      (RABBIT NIGHT LIGHT)
53   0.181122           (RED TOADSTOOL LED NIGHT LIGHT)
44   0.170918        (PLASTERS IN TIN WOODLAND ANIMALS)
40   0.168367           (PLASTERS IN TIN CIRCUS PARADE)
141  0.165816             (POSTAGE, RABBIT NIGHT LIGHT)
60   0.158163      (ROUND SNACK BOXES SET OF4 WOODLAND)
146  0.158163  (POSTAGE, RED TOADSTOOL LED NIGHT LIGHT)
26   0.153061                 (LUNCH BAG RED RETROSPOT)
132  0.147959  (PLASTERS IN TIN CIRCUS PARADE, POSTAGE)

**Postage** has the largest support.

#### Generate association rules based on confidence

In [74]:
asso_rules = association_rules(frequent_itemsets, metric='confidence', min_threshold=0.5)

In [81]:
asso_rules.sort_values('confidence',ascending = False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
146,"(PLASTERS IN TIN CIRCUS PARADE, RED TOADSTOOL ...",(POSTAGE),0.051020,0.765306,0.051020,1.000,1.306667,0.011974,inf
29,(JUMBO BAG WOODLAND ANIMALS),(POSTAGE),0.076531,0.765306,0.076531,1.000,1.306667,0.017961,inf
151,"(PLASTERS IN TIN WOODLAND ANIMALS, RED TOADSTO...",(POSTAGE),0.053571,0.765306,0.053571,1.000,1.306667,0.012573,inf
170,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER PLATES),0.102041,0.127551,0.099490,0.975,7.644000,0.086474,34.897959
171,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER CUPS),0.102041,0.137755,0.099490,0.975,7.077778,0.085433,34.489796

In [91]:
print(asso_rules.sort_values('confidence',ascending = False).head().iloc[0, 0])
print(asso_rules.sort_values('confidence',ascending = False).head().iloc[1, 0])
print(asso_rules.sort_values('confidence',ascending = False).head().iloc[2, 0])

frozenset({'PLASTERS IN TIN CIRCUS PARADE', 'RED TOADSTOOL LED NIGHT LIGHT'})
frozenset({'JUMBO BAG WOODLAND ANIMALS'})
frozenset({'PLASTERS IN TIN WOODLAND ANIMALS', 'RED TOADSTOOL LED NIGHT LIGHT'})

Association rule with **highest confidence**: 

{'PLASTERS IN TIN CIRCUS PARADE', 'RED TOADSTOOL LED NIGHT LIGHT'} -> {POSTAGE}

{'JUMBO BAG WOODLAND ANIMALS'} -> {POSTAGE}

{'PLASTERS IN TIN WOODLAND ANIMALS', 'RED TOADSTOOL LED NIGHT LIGHT'} -> {POSTAGE}

These rules have the same confidence (1.0).

#### Generate association rules based on lift

In [92]:
asso_rules = association_rules(frequent_itemsets, metric='lift', min_threshold=2)
asso_rules.sort_values('confidence',ascending = False).head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
144,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER PLATES),0.102041,0.127551,0.099490,0.975000,7.644000,0.086474,34.897959
145,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER CUPS),0.102041,0.137755,0.099490,0.975000,7.077778,0.085433,34.489796
174,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER PLATES),0.084184,0.127551,0.081633,0.969697,7.602424,0.070895,28.790816
175,"(SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...",(SET/6 RED SPOTTY PAPER CUPS),0.084184,0.137755,0.081633,0.969697,7.039282,0.070036,28.454082
61,(SET/6 RED SPOTTY PAPER PLATES),(SET/6 RED SPOTTY PAPER CUPS),0.127551,0.137755,0.122449,0.960000,6.968889,0.104878,21.556122

In [96]:
print(asso_rules.sort_values('confidence',ascending = False).head().iloc[0, 0])

frozenset({'SET/20 RED RETROSPOT PAPER NAPKINS', 'SET/6 RED SPOTTY PAPER CUPS'})

Association rule with **highest lift**: 

{'SET/20 RED RETROSPOT PAPER NAPKINS', 'SET/6 RED SPOTTY PAPER CUPS'}  ->  {'SET/6 RED SPOTTY PAPER PLATES'}

The rule with highest confidence is **not the same** as the one with the higest lift. 

Since the confidence measure only considers the deviance of s(A,B) from s(A) and not from s(A) * s(B), it fails to account for the support of the consequent, s(B). This might result in the detection of spurious patterns and the rejection of truly interesting patterns.

Lift, as defined by I(A,B) = s(A,B) / (s(A) * s(B)), measures the ratio of s(A,B) against s(A) * s(B), which is not susceptible to the limitations of the confidence measure.

### Problem 2

#### Load the dataset

In [36]:
bakery = pd.read_csv('75000-out2-binary.csv')

In [37]:
bakery.head()

,Transaction Number,Chocolate Cake,Lemon Cake,Casino Cake,Opera Cake,Strawberry Cake,Truffle Cake,Chocolate Eclair,Coffee Eclair,Vanilla Eclair,...,Lemon Lemonade,Raspberry Lemonade,Orange Juice,Green Tea,Bottled Water,Hot Coffee,Chocolate Coffee,Vanilla Frappuccino,Cherry Soda,Single Espresso
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2,3,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,4,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,5,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [38]:
# Extract the chocolate coffee and cake columns
chocolate_coffee_cake = bakery[['Chocolate Coffee', 'Chocolate Cake']]

In [39]:
# Build a 2-way contingency table
contingency_table = chocolate_coffee_cake.groupby(['Chocolate Coffee', 'Chocolate Cake']).size()

In [40]:
contingency_table

Chocolate Coffee  Chocolate Cake
0                 0                 65802
                  1                  2962
1                 0                  2933
                  1                  3303
dtype: int64

In [41]:
f00 = contingency_table[0][0]
f01 = contingency_table[0][1]
f10 = contingency_table[1][0]
f11 = contingency_table[1][1]

print(f00)
print(f01)
print(f10)
print(f11)

65802
2962
2933
3303

In [42]:
f1p = f11 + f10
fp1 = f11 + f01
f0p = f01 + f00
fp0 = f10 + f00

print(f1p)
print(fp1)
print(f0p)
print(fp0)

6236
6265
68764
68735

These two items **are symmetric** binary variables because the presence (1's) and absence (0's) are equally valuable and carry the same weight.

In [43]:
chocolate_coffee_cake['Chocolate Coffee'].corr(chocolate_coffee_cake['Chocolate Cake'])

0.48556649252787554

In [44]:
chocolate_coffee_cake['Chocolate Cake'].corr(chocolate_coffee_cake['Chocolate Coffee'])

0.4855664925278755

The above correlation measure is **invariant** to inversion.

{Chocolate Coffee} -> {Chocolate Cake}

In [45]:
(f11 * f00 - f01 * f10) / np.sqrt(f1p * fp1 * f0p * fp0)

0.4855664925278768

{Chocolate Cake} -> {Chocolate coffee}

In [46]:
(f11 * f00 - f10 * f01) / np.sqrt(fp1 * f1p * fp0 * f0p)

0.4855664925278768

The above association rules have the **same** $\Phi$.